/**
 * Content Style Sheet
 * Yuni Program
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

// main menu
nav#main {
	margin: 0;
	margin-bottom: @section_spacing / 2;
	padding: 0 3rem;
	box-sizing: border-box;

	// menu items
	> a { .main-menu-button(@color_contact); }
	> a.program { .main-menu-button(@color_program); }
	> a.courses { .main-menu-button(@color_courses); }
	> a.registration { .main-menu-button(@color_registration); }

	// sub-menu popups
	div.popup {
		.popup();
		padding: @paragraph_spacing;
		border: 1px solid @color_dark;
		background-color: fade(@color_dark, 80);
		color: @color_bright;

		// close button
		a.close {
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
			width: @finger_size;
			height: @finger_size;

			border: 1px solid @color_bright;
			border-radius: 50%;
			background-color: @color_dark;

			html[dir=rtl] & {
				right: auto;
				left: 0.5rem;
			}

			&:before,
			&:after {
				position: absolute;
				top: 15%;
				left: calc(~'50% - 0.1rem');
				width: 0.2rem;
				height: 70%;
				content: '';

				background-color: @color_bright;
				line-height: 0;
				transform: rotate(45deg);
				transform-origin: 50% 50%;
			}

			&:after {
				transform: rotate(-45deg);
			}
		}

		// popup menu titles
		&#program h3 { color: @color_program; }
		&#courses h3 { color: @color_courses; }
		&#registration h3 { color: @color_registration; }

		h3 {
			text-align: left;

			html[dir=rtl] & {
				text-align: right;
			}
		}

		h3 svg {
			display: inline-block;
			vertical-align: middle;
			margin-right: @header_spacing / 2;
			fill: currentColor;

			html[dir=rtl] & {
				margin-right: 0;
				margin-left: @header_spacing / 2;
			}
		}

		&#program h3 svg {
			@svg_size: 1.5rem;
			@ratio: 2.83;
			width: @svg_size * @ratio;
			height: @svg_size;
		}

		&#courses h3 svg {
			@svg_size: 1.8rem;
			@ratio: 2.33;
			width: @svg_size * @ratio;
			height: @svg_size;
		}

		&#registration h3 svg {
			@svg_size: 2rem;
			@ratio: 1.72;
			width: @svg_size * @ratio;
			height: @svg_size;
			margin: 0;
		}

		// popup menus
		nav {
			a {
				display: block;
				.finger-size-padding();

				border-bottom: 1px solid mix(@color_bright, @color_dark, 40);

				color: @color_bright;
				text-decoration: none;

				// skip border on last item
				&:last-of-type {
					border: 0;
				}

				&:active,
				&:focus {
					background-color: @color_bright;
					color: @color_dark;
				}
			}
		}
	}
}


// additional links on home page
nav#other {
	margin: 0;
	padding: 4rem;
	padding-top: 0;
	box-sizing: border-box;
	text-align: center;

	a {
		display: inline-block;
		padding-top: 70px;

		background-position: center top;
		background-repeat: no-repeat;
		background-size: 64px 64px;

		.main-menu-button(@color_contact);

		&.calendar { background-image: url(../images/calendar.png); }
		&.locations { background-image: url(../images/location.png); }
		&.youtube { background-image: url(../images/youtube-icon.png);}

		&.youtube.video { margin-left: 0;}
		&.career { background-image: url(../images/careers.png);}
	}
}


// inner page menu
nav#page {
	margin: 0;
	padding: 1rem 4rem;

	a {
		.regular-button();
		display: block;
		text-align: center;
	}

	p {
		margin: 0;
	}
}


// home page news container
div#news {
	position: relative;
	min-height: 5rem;
	margin: 2rem;
	padding: 1rem;

	border: 0.1rem solid fade(@color_gray, 50);
	border-radius: 0.3rem;
	background-color: fade(@color_dark, 80);

	text-align: center;

	div#controls {
		line-height: 0;
		position: relative;

		&:after {
			content: "";
			width: 1px;
			height: 75vw;
			transform: translate(50%, -40%) rotate(90deg);
			position: absolute;
			background-color: @color_contact;
			top: 30%;
			left: 50%;
		}
	}

	a.previous {
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid @color_contact;
		z-index: 100;
		vertical-align: middle;
		cursor: pointer;
	}

	p {
		display: inline-block;
		vertical-align: middle;
		margin: 0 2rem;
	}

	a.next {
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid @color_contact;
		z-index: 100;
		vertical-align: middle;
		cursor: pointer;
	}

	a.news {
		position: absolute;
		top: 3.5rem;
		left: 0rem;
		right: 0rem;
		padding: 0.3rem;
		opacity: 0;
		pointer-events: none;

		color: @color_gray;
		text-decoration: none;

		&.visible {
			display: block;
			opacity: 1;
			pointer-events: auto;
		}
	}
}

section {
	min-height: 52vh;
}

section > article > table {
	.table-style(@color_program, @color_bright);
	min-width: 90%;
}

section#program > article > table {
	.table-style(@color_program, @color_bright);
	min-width: 90%;
}

section#course > article > table {
	.table-style(@color_courses, @color_bright);
	min-width: 90%;
}

section.registration > article > table {
	.table-style(@color_registration, @color_bright);
	min-width: 90%;
}

// news page section
section#news {
	position: relative;

	// page image
	div.header-images img {
		width: 100%;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

	h1 {
		margin-bottom: 3rem;
	}

	div.news-article {
		margin: 0 auto;
		margin-bottom: @header_spacing;
		width: 80%;
		padding: 1rem;

		background-color: @color_bright;
		color: @color_dark;

		h3 {
			padding-bottom: @header_spacing;
			color: @color_news_title;
			border-bottom: 1px solid @color_gray;
		}

		// highlighted news when clicking from home page carousel
		&:target h3:before {
			display: inline-block;
			content: '';

			width: 0;
			height: 0;
			border: 0.4em solid transparent;
			border-left-color: @color_news_title;

			.blinking-animation();

			html[dir=rtl] & {
				border-left-color: transparent;
				border-right-color: @color_news_title;
			}
		}

		// compensate fixed header height so block is displayed correctly
		&:target {
			padding-top: 54px;
		}

		// divs not in focus
		&:not(:target) {
			background-color: transparent;
			color: @color_bright;

			h3 {
				color: @color_bright;
			}
		}

		a {
			.regular-button();
		}

		// remove margin from last paragraph
		p:last-child {
			margin-bottom: 0;
		}

		small.timestamp {
			color: mix(@color_bright, @color_dark, 50);
		}
	}
}


// locations page and popups
section#locations {

	> a {
		.regular-button();
	}
}

div.header-images {
	line-height: 0;
}

div.header-images + div.header-images {
	display: none;
}

// specific pages main headers
section#program article h1,
section#locations h1,
section#location article h1,
section#calendar h1,
header.mobile_title + h1 {
	.page-main-header(@color_program, @color_dark);
}

section#course article h1 {
	.page-main-header(@color_courses, @color_bright);
}

section.registration h1 {
	.page-main-header(@color_registration, @color_bright);
}

section#contact h1 {
	.page-main-header(@color_contact, @color_dark);
}

// program and course pages
section#program,
section#course {
	position: relative;

	// page image
	div img {
		width: 100%;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

	article {
		position: relative;

		// regular page components
		> p {
			padding: 0 @paragraph_spacing;

			& img {
				max-width: 100%;
			}

			> a {
				.elements-in-row(2, 1rem);
				.regular-button();
				text-align: center;
			}

			> strong a {
				.regular-button();
			}
		}

		blockquote {
			margin: 0;
			padding: 0 1rem;

			 & > p {
			 	text-align: center;

			 	& > a {
			 		width: 55vw;
			 		.regular-button();
			 	}
			 }
		}



		hr {
			display: block;
			height: 1px;
			margin-bottom: @paragraph_spacing;

			border: 0;
			background-color: fade(@color_gray, 50);
		}

		> ul,
		> ol {
			padding: 2rem (@paragraph_spacing * 2);
		}

		> ul li {

			p a {
				.regular-button();
			}

			a {
				.regular-button();
			}
		}
	}
}

// specific style for program pages
section#program {

	article.about-the-program {
		hr {
			margin-top: 50px;
			margin-bottom: 50px;
			width: 90%;
			height: 0;
			border: 0;
			border-bottom: 1px solid @color_contact;

		}

		p,
		h3 {
			padding: 0rem 1rem;
		}

		p:nth-of-type(6) {
			text-align: center;
		}

		p:nth-of-type(9) {
			text-align: center;
		}
	}

	article.about-us {

		p:nth-of-type(2) img,
		p:nth-of-type(4) img {
			width: 200px;
			height: auto;
			display: block;
			margin: 0 auto;
		}

		ul {
			padding: 0rem 2rem;
		}

		hr {
			margin-top: 20px;
			margin-bottom: 20px;
			width: 90%;
			height: 0;
			border: 0;
			border-bottom: 1px solid @color_contact;

		}
	}

	article.news1 {
		padding: 0 2rem;
	}
}

section#program div#our_team_images_holder {
	display: block;
	padding: 1em 0.5em;
	margin: 0 auto;

	figure {
		.elements-in-row(2, 0.5em);
		display: inline-block;
		text-align: center;
		border: 2px solid @color_bright;
		vertical-align: middle;

		div.image-holder {
			width: 100%;
			height: 130px;
			overflow: hidden;

			img {
				width: auto;
				display: block;
				margin: 0 auto;
				vertical-align: middle;
				min-height: auto;
			}
		}

		figcaption {
			line-height: 1;

			> h4 {
				background-image:
					url(../images/squiggle_background.svg),
					url(../images/squiggle_background.svg),
					url(../images/squiggle_background.svg);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-position: 0px 0px, 1px 0px, 0px 1px;
				padding: 0.8em 1em;
				margin: 0;
			}

			div {
				background-color: @color_dark;
				padding: 1em;
				min-height: 100px;

			    > p {
			    	line-height: 1;
			    }
			}
		}
	}
}

section#program > svg,
section#news > svg {
	display: block;
	width: 7rem;
	height: 7rem;
	position: absolute;
	top: 5vw;
	left: 35vw;

	border-radius: 0.5rem;
	background-color: fade(@color_dark, 30);

	svg:first-child {
		stroke: @color_program;
		fill: none;
	}

	svg:last-child {
		fill: @color_program;
		transform: translate(20%, 20%) scale(0.6);
	}
}

section#course > svg {
	display: block;
	width: 7rem;
	height: 7rem;
	position: absolute;
	top: 5vw;
	left: 35vw;

	border-radius: 0.5rem;
	background-color: fade(@color_dark, 30);

	svg:first-child {
		stroke: @color_courses;
		fill: none;
	}

	svg:last-child {
		fill: @color_courses;
		transform: translate(20%, 20%) scale(0.6);
	}
}

section#contact > svg {
	display: block;
	width: 7rem;
	height: 7rem;
	position: absolute;
	top: 7vw;
	left: 50%;
	transform: translate(-50%, 50%);

	border-radius: 0.5rem;
	background-color: fade(@color_dark, 30);
	transition: all 0.3s;

	svg:first-child {
		stroke: @color_contact;
		fill: none;
	}

	svg:last-child {
		fill: @color_contact;
		transform: translate(20%, 20%) scale(0.6);
	}
}

section#contact {
	div img {
		width: 100%;
		height: auto;
		margin-bottom: -5px;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

	article {
		text-align: center;
		padding: 1rem;
		margin: 0 auto;

		& h1 {
			display: none;
		}

		& hr {
			height: 0px;
			width: 80%;
			background-color: @color_contact;
			margin-bottom: 1rem;
		}

		p > a {
			.regular-button();
		}
	}

	form {
		padding: 1rem;

		label {
			width: 100%;

			input,
			textarea {
				box-sizing: border-box;
				display: block;
				width: 100%;
				padding: 0.7rem 0.2rem;
				border: 1px solid transparent;
				border-radius: 3px;
				margin-bottom: 1rem;
				transition: all 0.5s;

				&:focus {
					border: 1px solid @color_green;
					transition: all 0.5s;
				}
			}

			select {
				box-sizing: border-box;
				display: block;
				width: 100%;
				padding: 0.7rem 0.2rem;
				border: 1px solid transparent;
				border-radius: 3px;
				margin-bottom: 1rem;
				background-color: @color_bright;
				transition: all 0.5s;

				&:focus {
					border: 1px solid @color_green;
					transition: all 0.5s;
				}
			}

			span {
				display: block;
				width: 50%;

				&:before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					background-image: url(../images/form-icons.svg);
					background-repeat: no-repeat;
					background-position: 0px 0px;
					background-size: 300px 100px;
					width: 50px;
					height: 50px;
				}
			}

			&:nth-of-type(1) span:before {
				background-position: -10px -33px;
			}

			&:nth-of-type(2) span:before {
				background-position: -160px -30px;
			}

			&:nth-of-type(3) span:before {
				background-position: -85px -30px;
			}

			&:nth-of-type(5) span:before {
				background-position: 9px 0px;
				background-size: 400px 115px;
			}

			&:nth-of-type(6) span {
				margin-top: 1.5rem;
				margin-bottom: 1rem;

				&:before {
					display: none;
				}
			}
		}

		div.controls {
			text-align: center;

			button {
				.regular-button();
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}
}

section#faq {
	article p {
		padding: 1rem;
	}

	dl {
		padding: 1rem;

		dt {
			padding-bottom: 0.5rem;

			&:before {
				display: inline-block;
				width: 0;
				height: 0;
				content: '';

				border: 5px solid transparent;
				border-right-color: white;
				transform: rotate(0deg);
				transition: transform 0.5s;
			}

			&.expanded:before {
				transform: rotate(-90deg);
			}
		}

		dd {

			> p {
				padding: 0.5rem;
				padding-right: 1rem;
				border-right: 1px solid @color_bright;
				font-size: 0.9rem;

				> a {
					.regular-button();
				}
			}
		}
	}
}

section.registration {

	article {

		p {
			padding: 0 1.5rem;

			a {
				.regular-button();
			}

			> img {
				width: 100%;
			}
		}

		ul,
		ol {
			padding: 0rem 1.5rem;
			list-style-type: none;
		}

		ul li {

			p {
				padding: 0;
			}

			p a {
				.regular-button();
			}

			a {
				.regular-button();
			}
		}
	}

	> svg {
		display: block;
		width: 7rem;
		height: 7rem;
		position: absolute;
		top: 15vh;
		left: 35vw;

		border-radius: 0.5rem;
		background-color: fade(@color_dark, 30);

		svg:first-child {
			stroke: @color_registration;
			fill: none;
		}

		svg:last-child {
			fill: @color_registration;
			transform: translate(20%, 20%) scale(0.6);
		}
	}

	// page image
	div img {
		width: 100%;
		margin-bottom: -5px;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

}

section#locations,
section#location {
	div img.thumbnail {
		width: 100%;
		height: auto;
		margin-bottom: -5px;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

	img.location {
		width: 7rem;
		height: 7rem;
		min-height: 7rem;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 50%);
		top: 7vw;
		border-radius: 2.5rem;
		background-color: fade(@color_dark, 20%);
		transition: all 0.3s;
	}

	article {

		p {
			padding: 0 1rem;

			> img {
				width: 100%;
			}

			a {
				.regular-button();
			}
		}

		h3 {
			padding: 0 1rem;
		}

	}

	div {
		padding: 2rem 1rem;
		text-align: center;

		a {
			.regular-button();
		}

		&.header-images {
			padding: 0;
		}
	}
}

section#calendar {
	position: relative;

	div img {
		width: 100%;
		height: auto;
		margin-bottom: -5px;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

	img.calendar {
		width: 7rem;
		height: 7rem;
		min-height: 7rem;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 7vw;
		border-radius: 2.5rem;
		background-color: fade(@color_dark, 20%);
	}

	article {
		padding: 1rem;

		p a,
		a {
			.regular-button();
		}
	}
}

section#career {
	div img {
		width: 100%;
		height: auto;
		margin-bottom: -5px;
		@ratio: 1 / 1.49;
		min-height: 100vw * @ratio;
	}

	img.career {
		width: 7rem;
		height: 7rem;
		min-height: 7rem;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 50%);
		top: 7vw;
		border-radius: 2.5rem;
		background-color: fade(@color_dark, 20%);
	}

	> ul {
		margin: 0;
		padding: 2rem 2rem;
		list-style-type: none;

		li {
			display: block;
			padding: 1rem 1rem;
			margin-bottom: 2rem;
			background-color: @color_bright;
			color: @color_dark;
			text-align: center;
			h3 {
				color: @color_green;
			}

			p {

			}

			a {
				.regular-button();
			}
		}
	}

	article {
		padding: 1rem 2rem;
	}

	form {
		padding: 1rem;

		label {
			width: 100%;

			input {
				box-sizing: border-box;
				display: block;
				width: 100%;
				padding: 0.7rem 0.2rem;
				border: 1px solid transparent;
				border-radius: 3px;
				margin-bottom: 1rem;
				transition: all 0.5s;

				&:focus {
					border: 1px solid @color_green;
					transition: all 0.5s;
				}
			}

			span {
				display: block;
				width: 50%;

				&:before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					background-image: url(../images/form-icons.svg);
					background-repeat: no-repeat;
					background-position: 0px 0px;
					background-size: 300px 100px;
					width: 50px;
					height: 50px;
				}
			}

			&:nth-of-type(1) span:before {
				background-position: -10px -33px;
			}

			&:nth-of-type(2) span:before {
				background-position: -85px -30px;
			}

			&:nth-of-type(3) span:before {
				background-position: -160px -30px;
			}

			&:nth-of-type(4) span:before {
				display: none;
			}

			&:nth-of-type(4) span {
				width: 97%;
				text-align: center;
				padding: 0.3rem;
				background-color: fade(@color_dark, 30%);
				margin-bottom: 0.5rem;
				margin-top: 1.5rem;
				text-align: center;
			}
		}

		div.controls {
			text-align: center;

			button {
				.regular-button();
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}
}

section#search_results {
	div img.thumbnail {
		width: 100%;
		height: auto;
		margin-bottom: -5px;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

	article {
		padding: 1rem 1rem;
		text-align: center;

		p {
			padding: 0rem 1rem;

			a {
				.regular-button();
				display: block;
				margin: 0 auto;
			}
		}

		a {
			.regular-button();
			display: block;
			margin: 0 auto;
			width: 100px;
		}
	}
}

section#result {

	article {

		h1 {
			padding: 0.5rem;
		    background-color: @color_contact;
		    color: #000;
		    text-align: center;
		    font-family: 'fb-liddar-regular';
		    font-size: 2.5em;
		}

		h3 {
			padding: 0rem 0.5rem;
		}

		p {
			padding: 1rem 1rem;

			a {
				.regular-button();
			}

			img {
				width: 80%;
				display: block;
				margin: 0 auto;
			}
		}

		blockquote {

			p {
				display: inline-block;
				padding: 0rem 1rem;
				margin: 0 auto;
			}
		}

		ul,
		ol {
			padding: 0rem 2rem;

			li {
				text-align: right;

				p {
					padding: 0;
				}

				a {
					.regular-button();
				}
			}
		}

		hr {
			width: 90%;
			border: 0;
			border-bottom: 1px solid @color_contact;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

}
